//========================================================================================================================================================



//====================================================================================================
.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0.75);
	z-index: 50;
	transition: all 0.3s ease 0s;
	/* .header__container */

	&__container {
		@include adaptiveValue("min-height", 108, 98);
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 99, -40);
	}

	/* .header__logo */

	&__logo {
		margin-left: rem(-10);
		z-index: 1
	}

	/* .header__menu */

	&__menu {
		display: flex;
		flex: 1 1 auto;
		justify-content: space-between;
	}
}

.logo {}

.menu {
	/* .menu__icon */

	&__icon {}

	/* .menu__body */

	&__body {
		display: flex;
		align-items: center;
	}

	/* .menu__list */

	&__list {
		display: flex;
		@include adaptiveValue("gap", 70, 10);

		@media (max-width:$tablet) {
			flex-direction: column;
			position: relative;
			top: rem(40);
			@include adaptiveValue("padding-left", 150, 10);
			row-gap: rem(20);
		}

		@media (max-width:$mobile) {
			flex-direction: column;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100%;
			row-gap: rem(50);
			top: 0;
			left: -100%;
			bottom: 0;
			overflow: auto;
			background-color: #fff;
			padding: rem(250) rem(15);
			font-weight: 800;
			font-size: rem(28);
			transition: left 0.9s ease 0s;

			&::before {
				content: "";
				position: fixed;
				background-color: #fff;
				height: rem(40);
				width: 100%;
				left: -100%;
				top: 0;
				transition: left 0.9s ease 0s;
			}

			.menu-open & {
				left: 0;

				&::before {
					left: 0;
				}
			}

		}

		@media (max-width:$mobileSmall) {
			padding: rem(200) rem(15);
		}
	}

	/* .menu__item */

	&__item {}

	/* .menu__link */

	&__link {
		transition: text-shadow 0.3s, color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: #EB4436;
				text-shadow: rem(0.8) rem(0) rem(0.1) #EB4436;
				transition: text-shadow 0.3s, color 0.3s ease 0s;
			}
		}
	}

	/* .menu__action */

	&__action {}
}

.icon-menu {}

.action-header {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 111, -40);
	@include adaptiveValue("padding-right", 40, 0);

	@media (max-width:$mobile) {
		position: fixed;
		justify-content: space-between;
		width: 100%;
		height: 40%;
		top: 0;
		left: -100%;
		bottom: 0;
		overflow: auto;
		gap: rem(30);
		padding: rem(0) rem(15);
		transition: left 0.9s ease 0s;


		&::before {
			content: "";
			position: fixed;
			height: 100%;
			width: 100%;
			left: -100%;
			top: 0;
			transition: left 0.9s ease 0s;
		}

		.menu-open & {
			left: 0;

			&::before {
				left: 0;
			}
		}
	}

	@media (max-width:$mobileSmall) {
		flex-direction: column-reverse;
		height: rem(380);
		top: rem(120);
	}

	&__button {
		@media (max-width:$mobile) {
			padding: rem(16) rem(60);
		}
	}
}



//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(50);
		height: rem(30);
		z-index: 5;

		@media (any-hover: none) {
			cursor: default;
		}

		span {
			content: "";
			transition: all 0.8s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(5);
			background-color: #E84747;
			border-radius: rem(10);
		}

		&::before {
			content: "";
			transition: all 0.8s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(5);
			background-color: #F8C02E;
			border-radius: rem(10);
		}

		&::after {
			content: "";
			transition: all 0.8s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(5);
			background-color: #000;
			border-radius: rem(10);
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(3));
		}

		.menu-open & {
			span {
				width: rem(8);
				height: rem(8);
				top: rem(12);
				right: rem(21);
				transform: rotate(1080deg);
				background-color: red;
				z-index: 2;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - rem(2));
				transform: rotate(135deg);
				background-color: blue;
			}

			&::after {
				bottom: calc(50% - rem(3));
				transform: rotate(45deg);
				background-color: yellow;
			}
		}
	}
}