//========================================================================================================================================================



//====================================================================================================
.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0.75);
	z-index: 50;
	transition: all 0.3s ease 0s;
	/* .header__container */

	&__container {
		min-height: rem(108);
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 99, 30);
	}

	/* .header__logo */

	&__logo {}

	/* .header__menu */

	&__menu {
		display: flex;
		flex: 1 1 auto;
		justify-content: space-between;
	}
}

.logo {}

.menu {
	/* .menu__icon */

	&__icon {}

	/* .menu__body */

	&__body {
		display: flex;
		align-items: center;
	}

	/* .menu__list */

	&__list {
		display: flex;
		@include adaptiveValue("gap", 70, 20);
	}

	/* .menu__item */

	&__item {}

	/* .menu__link */

	&__link {
		transition: text-shadow 0.3s, color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: #EB4436;
				text-shadow: rem(0.8) rem(0) rem(0.1) #EB4436;
				transition: text-shadow 0.3s, color 0.3s ease 0s;
			}
		}
	}

	/* .menu__action */

	&__action {}
}

.icon-menu {}

.action-header {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 131, -150);
	@include adaptiveValue("padding-right", 40, -50);
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(50);
		height: rem(30);
		z-index: 5;

		@media (any-hover: none) {
			cursor: default;
		}

		span {
			content: "";
			transition: all 0.9s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(5);
			background-color: #E84747;
			border-radius: rem(10);
		}

		&::before {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(5);
			background-color: #F8C02E;
			border-radius: rem(10);
		}

		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(5);
			background-color: #000;
			border-radius: rem(10);
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(3));
		}

		.menu-open & {
			span {
				width: rem(8);
				height: rem(8);
				top: rem(12);
				right: rem(16);
				transform: rotate(360deg);
				background-color: red;
				z-index: 2;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - rem(2.5));
				transform: rotate(135deg);
				background-color: blue;
			}

			&::after {
				bottom: calc(50% - rem(2.5));
				transform: rotate(45deg);
				background-color: yellow;
			}
		}
	}
}