//====================================================================================================
.hallo {
	@include adaptiveValue("padding-top", 156, 91);

	/* .hallo__container */

	&__container {
		display: flex;
		justify-content: space-between;
	}

	/* .hallo__content */

	&__content {
		width: 100%;
		align-self: center;
	}

	/* .hallo__maintitle */

	&__maintitle {
		@include adaptiveValue("margin-left", -10, -1);
		font-weight: 700;
		@include adaptiveValue("font-size", 144, 48);
		line-height: math.div(176, 144);
		color: #E14545;
		margin-bottom: rem(-50);
		@include adaptiveValue("margin-bottom", -50, -15);
	}

	/* .hallo__title */

	&__title {
		@include adaptiveValue("margin-left", -10, -1);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 9, 0);
			margin-bottom: rem(9);
		}
	}

	/* .hallo__subtitle */

	&__subtitle {
		max-width: rem(633);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 20);

		}

		&::before {
			content: '';
			width: rem(99);
		}
	}

	/* .hallo__text */

	&__text {
		max-width: rem(505);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 28, 15);
		}
	}

	/* .hallo__button */

	&__button {
		@media (max-width:$mobileSmall) {
			width: 100%;
			left: 50%;
			transform: translateX(-50%);
			@include adaptiveValue("padding-left", 34, 17);
			@include adaptiveValue("padding-right", 34, 17);
		}
	}

	/* .hallo__avatar */

	&__avatar {
		padding-right: rem(0);

		width: 100%;

		@media (max-width:$tablet) {
			display: none;
		}

		// .avatar-hallo__img

		.avatar-hallo__img {
			@include adaptiveValue("padding-top", 0, 150);

			max-width: 100%;
		}
	}
}

//====================================================================================================