//====================================================================================================
.hallo {
	@include adaptiveValue("padding-top", 156, 91);
	@include adaptiveValue("padding-bottom", 140, 50);

	&:not(:last-child) {
		margin-bottom: rem(115);
	}

	/* .hallo__container */

	&__container {}

	/* .hallo__items */

	&__items {
		display: flex;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}

	/* .hallo__content */

	&__content {
		width: 100%;
		align-self: center;
	}

	/* .hallo__maintitle */

	&__maintitle {
		@include adaptiveValue("margin-left", -10, -1);
		font-weight: 700;
		@include adaptiveValue("font-size", 144, 48);
		line-height: math.div(176, 144);
		color: #e14545;
		margin-bottom: rem(-50);
		@include adaptiveValue("margin-bottom", -50, -15);
	}

	/* .hallo__title */

	&__title {
		@include adaptiveValue("margin-left", -10, -1);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 9, 0);
			margin-bottom: rem(9);
		}
	}

	/* .hallo__subtitle */

	&__subtitle {
		max-width: rem(633);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 20);
		}

		&::before {
			content: "";
			width: rem(99);
		}
	}

	/* .hallo__text */

	&__text {
		max-width: rem(505);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 28, 15);
		}
	}

	/* .hallo__button */

	&__button {
		@media (max-width: $mobileSmall) {
			width: 100%;
			left: 50%;
			transform: translateX(-50%);
			@include adaptiveValue("padding-left", 34, 17);
			@include adaptiveValue("padding-right", 34, 17);
		}
	}

	/* .hallo__avatar */

	&__avatar {
		padding-right: rem(0);
		width: 100%;

		@media (max-width: $tablet) {
			display: none;
		}

		// .avatar-hallo__img

		.avatar-hallo__img {
			@include adaptiveValue("padding-top", 0, 150);
			max-width: 100%;
		}
	}

	// .hallo__list

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		@media (max-width: $pc) {
			grid-template-columns: repeat(2, 1fr);
			@include adaptiveValue("gap", 120, 20);
		}
	}

	// .hallo__item

	&__item {
		display: grid;
		grid-template-rows: rem(0);
		grid-auto-rows: auto;
		text-align: center;
		position: relative;

		@media (max-width: $tablet) {
			width: 100%;
		}
	}

	// .hallo__item--memory

	&__item--memory {
		@include adaptiveValue("top", 60, 0);
	}

	// .hallo__decor

	&__decor {}

	// .hallo__icon

	&__icon {}

	// .hallo__call

	&__call {}

	// .hallo__item--books

	&__item--books {
		@include adaptiveValue("top", 50, 0);
	}

	// .hallo__item--confidence

	&__item--confidence {
		@include adaptiveValue("top", 60, -60);
	}

	// .hallo__item--travel

	&__item--travel {
		@include adaptiveValue("top", 0, -60);
	}
}

.decor-hallo {
	// .decor-hallo__decor01

	&__decor01 {
		max-width: 100%;
	}

	// .decor-hallo__decor02

	&__decor02 {
		max-width: 100%;
	}

	// .decor-hallo__decor03

	&__decor03 {
		max-width: 100%;

		@media (max-width: $tablet) {
			max-width: 110%;
		}
	}

	// .decor-hallo__decor04

	&__decor04 {
		max-width: 100%;
	}
}

.icon-hallo {
	width: 100%;
	@include adaptiveValue("padding", 0, 30);

	// .icon-hallo__memory

	&__memory {
		position: relative;
		top: rem(-20);
		max-width: 100%;
	}

	// .icon-hallo__books

	&__books {
		position: relative;
		@include adaptiveValue("top", 20, -10);
		top: rem(20);
		max-width: 100%;
	}

	// .icon-hallo__confidence

	&__confidence {
		position: relative;
		@include adaptiveValue("top", -10, -30);
		max-width: 100%;
	}

	// .icon-hallo__travel

	&__travel {
		position: relative;
		@include adaptiveValue("top", 70, -20);
		max-width: 100%;
	}
}

.call-hallo {
	text-transform: uppercase;
	@include adaptiveValue("font-size", 20, 15);
	line-height: math.div(28, 20);

	& span {
		font-weight: 700;
		color: #e14545;
	}

	// .call-hallo__memory

	&__memory {
		position: relative;
		bottom: rem(0);
		@include adaptiveValue("bottom", 2, 40);
		@include adaptiveValue("padding-left", 0, 15);
		@include adaptiveValue("padding-right", 0, 15);
	}

	// .call-hallo__books

	&__books {
		position: relative;
		@include adaptiveValue("bottom", -27, 40);
		@include adaptiveValue("padding-left", 0, 9);
		@include adaptiveValue("padding-right", 0, 9);
	}

	// .call-hallo__confidence

	&__confidence {
		position: relative;
		@include adaptiveValue("bottom", -8, 37);
	}

	// .call-hallo__travel

	&__travel {
		position: relative;
		@include adaptiveValue("bottom", -75, 50);
	}
}

//====================================================================================================

//========================================================================================================================================================